<h1 id="top">The IT Non-School</h1>
<p class="lead">Learn the skills that will shape the future.</p>
<p>Information Technology, or &ldquo;IT&rdquo;, is a key technology of the 21st century. From games on your mobile phone to self-driving cars, everything in our lives is influenced by IT. Already now, corporations are desperately looking for skilled professionals that can help them flourish in this future. Beyond that, start-ups in Silicon Valley and elsewhere create new IT-based business ideas, while research into artificial intelligence and robotics push the boundaries of the possible even further.</p>
<div class="row">
  <div class="col">
    <h4 id="about">What is the IT Non-School?</h2>
    <p>We are a volunteer organization with the goal to enable enthusiastic and talented young people to learn how to develop and operate IT solutions. We want to provide a platform to enable people to discover and unfold their talents in the IT field <em>without</em> tuition fees.</p>
    <p><a class="btn btn-primary" href="pages/about.html">Read more</a></p>
  </div>
  <div class="col">
    <h4>What will I learn?</h2>
    <p>The IT Non-School is evolving. We teach technologies and work methods that are used and requested in real world projects. </p>
    <p><a class="btn btn-primary" href="pages/topics.html">Read more</a></p>
  </div>
  <div class="col">
    <h4 id="prereqs">What do I need to sign up?</h2>
    <p>There are a few prerequisites that you will need to meet.</p>
    <p><a class="btn btn-primary" href="pages/prereqs.html">Read more</a></p>
  </div>
</div>
