<h1 id="top">Prerequisites for the IT Non-School</h1>
<p class="lead">Learn the skills that will shape the future.</p>
<h2 id="prereqs">What do I need to sign up?</h2>
<p>There are a few prerequisites that you will need to meet.</p>
<ul style="list-style-type: square">
  <li>You need to be between 18 and 25 years old. You will be asked to provide an official document (birth certificate or similar) as proof.</li>
  <li>Access to a computer with a decent screen and keyboard. Software development simply cannot be done efficiently on a mobile phone alone. The computer <em>can</em> be in an Internet cafe although we recommend that you use one where you can install software.</li>
  <li>Decent quality Internet access. We will communicate through instant messenger services. Also, a lot of the tools we will use are Internet based.</li>
  <li>A webcam. You don't need this permanently but for sign-up and for one-on-one mentoring sessions, this will be required.</li>
  <li>English language skills. We will communicate in English as this is the international language of IT. Don't worry if you're not perfect, barely anyone is. You will also get better throughout your journey with us.</li>
  <li>Enthusiasm. Remember that this non-school is run by volunteers and by the students themselves. Students who are not actively participating will be removed. There are no further consequences but you will not be able to participate anymore.</li>
</ul>
