<h1 id="top">Topics taught in the IT Non-School</h1>
<p class="lead">Learn the skills that will shape the future.</p>
<h2 id="prereqs">What will I learn?</h2>
<p>The IT Non-School is evolving. We teach technologies and work methods that are used and requested in real world projects. We will add and update our topics as the world of IT changes in the future.</p>
<p>Some of them are Python, Rails, Java, NodeJS, Bootstrap and the many tools around them. You will work in an Agile way, along the DevOps values. You will learn what a Tribe Culture in IT is and you will work in this way yourself. You don't know what these terms mean? You will learn, and your future employer will be happy to hear you speak competently about them.</p>
